.breadcrumbs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Lato";
  color: white;
  font-size: 20px;
}

.nav-text {
  margin: 0 4px;
  color: white;
}

.span-text {
  margin: 0 4px;
  font-weight: 600;
  text-transform: capitalize;
}
